.Become-Seller{
    padding: 5%;
}
.Seller-div{
    padding-top: 25px;
}
.Start-Selling{
    background-color: #F7E7DC;
    color: #405D72;
    border: none;
    border-radius: 8px;
    padding: 18px;
}
.Start-Selling-btn-div{
    margin-top: 5px;
}